* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 1000px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.sidebar {
    width: 35%;
    background-color: #213d67;
    padding: 50px;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.profile-img img {
    height:230px;
    width: 230px;
    border-radius: 50%;
    border-width: 8px;
    border-color: white;
    margin-bottom: 10px;
    border-style: solid;
    margin-top: 20px;
}
h3 {
    margin-bottom: 10px;
    font-size: 24px;
}
.hs{
    font-weight: bolder;
    letter-spacing: 3px;
}
.white-line{
    border-top: 10px;
    border-width: 5px;
    border-style: solid white;
}
p, li {
    font-size: medium;
    margin-bottom: 10px;
}

.languages ul {
    list-style-type: disc;
    padding-left: 20px;
}
.skills ul {
    list-style-type: disc;
    padding-left: 20px;
}

.main-content {
    width: 70%;
    padding: 40px;
}

h1 {
    font-size: 36px;
    color: #213d67;
    font-weight: light;
    padding-left: 20px;
}

h2 {
    font-size: 20px;
    color: #7d7d7d;
    font-weight: light;
    margin-bottom: 20px;
    padding-left: 20px;
}
.line{
    margin-top: -10px;
    width: 80px;
    color: #213d67;
    border-style: solid;
    border-width: 3px;
    margin-left: 20px;
}
.blue-line{
    margin-top: -5px;
    margin-bottom: 10px;
    color: #213d67;
    border-style: solid;
    border-width: 2px;
}
h3 {
    color: #f9fafa;
    font-size: 24px;
    margin-bottom: 15px;
}
.name{
    color: #525151;
    font-weight: bolder;
}
.h33{
    color: #213d67;
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}
.job h4 {
    font-size: 16px;
    color: #213d67;
    margin-bottom: 5px;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-bottom: 20px;
}

.certifications li {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}
.certifications a :hover {
    color: #213d67;
}
p{
    font-family: inherit;
    font-size: medium;
}
.job{
    font-family: inherit;
    font-size: medium;
    margin-left: 30px;
    margin-top: 0px;
}
.ver{
    height: 440px;
    width: 2px;
    background-color: #213d67;
    margin-top: 50px;
}
.exp{
    margin-top: -435px;
}
a{
    text-decoration: none;
}
#tech{
    padding-left: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        width: 90%;
    }

    .sidebar, .main-content {
        width: 100%; 
        padding: 20px;
    }

    .profile-img img {
        height: 180px;
        width: 180px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }

    h3, .h33 {
        font-size: 20px;
    }

    p, li {
        font-size: small;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    p, li {
        font-size: smaller;
    }
}